.class {
  padding-top: 50px;
  padding-bottom: 50px;
}

.class__title {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  padding-bottom: 30px;
}

.class__img {
  display: grid;
  grid-template-columns: 48% 25% 25%;
  align-items: stretch;
  gap: 11px;
}

.one {
  grid-row: span 2;
}
