.class {
  padding-top: 100px;
  padding-bottom: 100px;
}

.class__title {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  padding-bottom: 30px;
}

.class__img {
  display: grid;
  grid-template-columns: 48% 25% 25%;
  align-items: stretch;
  gap: 11px;
}

.one {
  grid-row: span 2;
}

@media (max-width: 950px) {
  .class__img {
    grid-template-columns: 40% 40%;
    justify-content: center;
    margin: 0 auto;
    max-width: 750px;
  }
  .one {
    grid-column: span 2;
    max-width: 750px;
    width: 100%;
  }
}

@media (max-width: 800px) {
  .class {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .class__img {
    grid-template-columns: 100%;
    justify-items: center;
  }
  .one {
    grid-column: inherit;
  }
  .class__img {
    img {
      width: 500px;
    }
  }
}

@media (max-width: 600px) {
  .class {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .class__title {
    font-size: 20px;
  }
  .class__img {
    img {
      width: 100%;
    }
  }
}
