@import "./variables.scss";

.menu {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;

  div {
    padding-bottom: 3px;
    cursor: pointer;

    :hover {
      border-bottom: 1px solid;
      transition: transform 2ms;
    }
  }
}

.home {
  background: $gray;
  padding-bottom: 50px;
}

.home__title {
  display: flex;
  background: $white;
  padding: 20px 20px 20px 20px;
  margin: 0 auto;
}

.home__img {
  width: 100%;
  margin-right: 13rem;
}

.home__subtitle {
  h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 20px;
  }

  p {
    color: rgba($black, 0.7);
    font-size: 16px;
    line-height: 1.5;
  }
}
