.home {
  background: $gray;
  padding-top: 80px;
  padding-bottom: 50px;
}

.home__title {
  display: flex;
  background: $white;
  padding: 20px 20px 20px 20px;
  width: 950px;
  margin: 0 auto;
}

.home__img {
  margin-right: 20px;
}

.home__subtitle {
  h1 {
    font-size: 45px;
    font-weight: 500;
    padding-bottom: 20px;
  }

  p {
    color: rgba($black, 0.7);
    font-size: 17px;
    line-height: 1.5;
  }
}
