.methodical {
  padding: 50px 0px;

  h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
  }
}

.methodical__text {
  max-width: 1000px;
  margin: 0 auto;

  p {
    font-size: 16px;
    padding-bottom: 25px;
  }
}
