.methodical {
  padding: 50px 0 50px 0;
}

.methodical__intro {
  display: flex;
  justify-content: space-evenly;

  a:hover {
    box-shadow: 10px 10px 5px rgb(185, 185, 185);
    transition: 0.2s ease-in-out;
  }
}

.methodical__img {
  padding-bottom: 15px;

  img {
    height: 200px;
  }
}

.methodical__title {
  font-weight: 600;
}
